html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;

}

.robot {
  margin: 0 auto;
  width: 320px;
  position: relative;
}

.robot-body {
  margin: 0 auto;
  width: 320px;
  display: block;
}

.robot-brain {
  position: absolute;
  top: 0;
  width: 46px;
  left: 135px;
}

.robot-head-right
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 0;
  margin: 0 auto;

}

.robot-head-right {
position: absolute;
left: 160px;
}

.robot-head-left {
  position: absolute;
  right: 160px;
}
